/* Styling */

/* BACKGROUND */
body {
    background-color: #E3D6CD;
}

/* CONTENT AREA */
.site-content {
    /* max-width: 620px; */
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

/* FONTS */
h1 {
    font-family: 'Tenor Sans', sans-serif;
    text-align: left;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #C0958C;
    margin-bottom: 50px; /* SHORT TERM */
}

h1:hover {
  color: #525647;
  text-decoration: line-through;
}

h2,h3,h4,h5,h6 {
  /* font-family: 'Lora', serif; */
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 200;
  color: #525647;
}

h2 {
  text-align: left;
  font-size: 3rem;
  margin-top: 0;
}

h2:hover {
  color: #C0968C;
  text-decoration: line-through;
}

h3 {
  font-size: 1.8rem;
}

p, ul, li {
  font-family:
      "Times New Roman", Times, serif;
      Courier,
      monospace;
  font-size: 1.25rem;
  color: #839496;
  line-height: 1.65;
}

ul {
  padding-left: 0;
}

li {
  margin: 0.5rem 0;
}

li span {
  font-size: 1rem;
}

a {
  color: #525647;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

/* HTML CLASSES */
.top-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section {
  margin: 4rem 0;
}

/* MOBILE SETTINGS */
@media screen and (max-width: 768px) {
  h1 {font-size: 2.5rem; line-height: 1.5}
  h2 {font-size: 1.75rem;}
  h3 {font-size: 1.5rem;}
  p, ul, li {font-size: 1rem;}
  li { margin: 20px 0; }
}
