/* PAGE DEFAULTS */
.demo-3 {
	--color-text: #191a1b;
    --color-bg: #c5a98a;
    --color-link: #3c49b2;
    --color-link-hover: #191b1b;
    --color-content-text: #191b1b;
    --color-content-link: #191b1b;
    --color-content-link-hover: #191b1b;
   	--color-content-secondary: #9f8465;
}

/* WHOLE AREA */
.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: auto;
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

/* ALL TEXT */
.quote {
	display: block;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 2rem; /* Small Font */
	z-index: 999;
	line-height: 1.5em; /* Added */
	padding-bottom: 150px;
	border-width: 0px 0;
	font-weight: normal;
}

/* SPECIAL WORDS */
.quote__link {
	z-index: 999;
	color: var(--color-content-link);
	position: relative;
	white-space: nowrap;
}

.quote__link:hover {
	color: var(--color-content-link-hover);
}

.quote__link span {
	display: inline-block;
}

.quote__link::after {
	content: '';
	position: absolute;
	height: 5px;
	/* border-width: 1px 0; */				/* Underlines */
	/* border-style: solid; */
	/* border-color: currentColor; */
	width: 100%;
	left: 0;
	top: calc(100% - 0.25rem);
}

/* DISTORT */
.distort {
	position: absolute;
	pointer-events: none;
	will-change: transform;
}

.distort__img {
	opacity: 0;
}








/* BIG DEVICE */
/*@media screen and (min-width: 53em) { */
@media screen and (min-width: 53em) {
	.content {
		/* height: 100vh; */
		/* justify-content: center; */
	}
	.quote {
		font-size: 11vh;
	}
	.quote__link::after {
		top: calc(100% - 1vh);
	}
}






/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
/* --------- */
